# Ignore environment and cache files
.env
__pycache__/
*.pkl
*.pyc
*.log
.venv/
__pycache__/
*.pyc
.env


# Ignore temporary or local folders
cleaned_resumes/
processed resumes/
resume_db/
interview_notes/
resumes.index
